# External gems
# See http://ixti.net/software/2013/01/28/using-jekyll-plugins-on-github-pages.html for making `jekyll archives` work.
gems:
  - jekyll-archives # Sorry, not GitHub pages friendly!
  - jekyll-sitemap
  - jekyll-paginate

exclude:
  - "/vendor/"

# Site settings
title: FlashSQL 기술 블로그
subtitle: "비휘발성 메모리 기반 개방형 고성능 DBMS 개발"
email: vldb.skku@gmail.com
name: FlashSQL
baseurl: "" # the subpath of your site, e.g. /blog/
url: "http://flashsql.github.io" # the base hostname & protocol for your site
cover: "/assets/header_image.jpg"
logo: "/assets/vldb_web_logo.png"

# Build settings
markdown: kramdown
paginate: 5
paginate_path: "/page:num/"
inter_post_navigation: false
highlightjs_theme: "monokai-sublime"

# Archive settings (see https://github.com/jekyll/jekyll-archives/)
jekyll-archives:
  enabled:
    - categories
    - tags
  layout: 'archive'
  permalinks:
    category: '/category/:name/'
    tag: '/tag/:name/'

# Disqus comments
# disqus_shortname: bencentra

# Google analytics
# ga_tracking_id: "UA-XXXX-1"

# Category descriptions (for archive pages)
descriptions:
  - cat: jekyll
    desc: "Posts describing Jekyll setup techniques."

  - cat: dummy
    desc: "Just some placeholder posts, lorem ipsum and the rest."

# Social icons and sharing options
#
# Social settings are used in two places:
# * In the footer, as links to your personal profiles
# * After each blog post for sharing widgets
#
# Example:
#
# social:
#   - name: Twitter                         # Name of the service
#     icon: twitter                         # Font Awesome icon to use (minus fa- prefix)
#     username: "@TheBenCentra"             # (User) Name to display in the footer link
#     url: https://twitter.com/TheBenCentra # URL of your profile (leave blank to not display in footer)
#     desc: Follow me on Twitter            # Description to display as link title, etc
#     share: true                           # Include in the "Share" section of posts
social:
  - name: Facebook
    icon: facebook
    username: FlashSQL
    url:
    desc: Friend me on Facebook
    share: true

  - name: GitHub
    icon: github
    username: FlashSQL
    url: https://github.com/flashsql
    desc: Fork me on GitHub
    share: false

  - name: LinkedIn
    icon: linkedin
    username: FlashSQL
    url:
    desc: Connect with me on LinkedIn
    share: true

  - name: Google+
    icon: google-plus
    username: FlashSQL
    url:
    desc: Add me to your Circles
    share: true

# Social sharing protocols
# These are for automatically generating sharing metadata for FB and Twitter
# OS Protocol is for sharing the source of your site, if you're interested. For more, see osprotocol.com
protocols:
    fb_image: "/assets/vldb_logo.png"
    fb_image_width: 612
    fb_image_height: 605
    fb_image_type: "image/png"

    os_repo: "https://github.com/bencentra/centrarium.com"
    os_rcs_type: "git"
    os_src: "git@github.com:bencentra/centrarium.com.git"

collections:
  authors:
    title: Authors
    output: true
