// Primary site layout for Centrarium Theme

/*
*	Variables
*/
$b3: 480px;
$mobile: $b3;
$b2: 768px;
$tablet: $b2;
$b1: 960px;
$desktop: $b1;

/*
*	Globals
*/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

ol.default {
  @extend %default-ol;
}

ul.default {
	@extend %default-ul;
}

code {
	background-color: #eee;
	display: inline-block;
	border-radius: 3px;
	padding: 0 3px;
}

pre code.hljs {
	font-size: modular-scale(-1);
}

.page-divider {
	$divider-color: $light-gray;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid $divider-color;
  .one {
    position: relative;
    top: -9px;
    display: block;
    background: $divider-color;
    width: 18px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  .two {
    position: relative;
    top: -26px;
    display: block;
    background: $white;
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
}

.site-header-container, .post-header-container {
	width: 100%;
	text-align: center;
	&.has-cover {
		color: $white;
		text-shadow: 0 2px 1px rgba(0,0,0,0.67) !important;
		background-position: 50% 50%;
		background-size: cover;
		.title {
			font-size: modular-scale(6);
		}
		.subtitle, .info {
			font-size: modular-scale(1);
		}
	}
	.scrim {
		padding: 3em 1em;
		&.has-cover {
			background-color: rgba(0,0,0,0.2);
			padding: 6em 1em !important;
			@include media($tablet) {
				padding: 9em 1em !important;
			}
		}
	}
}

/*
*	Header
*/
.navigation {
	box-shadow: 0 2px $highlight-color;
	padding: 0 1em;
	margin: 0;
	/*
	*	Navigation Menu - http://refills.bourbon.io/unstyled/ (see "Navigation")
	*/
  // Mobile view
  .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    font-size: 1.5em;
    padding-top: 0.5em;
    @include media ($tablet) {
      display: none;
    }
  }
  // Nav menu
  .navigation-wrapper {
  	@include outer-container;
    @include clearfix;
    position: relative;
  }
  .logo {
    float: left;
    height: 4em;
    @include media ($tablet) {
    	padding-left: $em-base;
    }
    img {
      max-height: 2.5em;
      margin-top: 0.75em;
      padding-right: 1em;
    }
    span {
    	font-size: 1.25em;
    }
  }
  nav {
    float: none;
    padding: 1.25em 0;
    @include media ($tablet) {
      float: right;
      line-height: 1.5em;
    }
  }
  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    @include media ($tablet) {
      display: block;
      margin: 0;
      padding: 0;
    }
    &.show {
      display: block;
    }
  }
  // Nav items
  ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;
    padding: 0.25em 0;
    @include media ($tablet) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
    }
  }
  li.nav-link {
  	a {
	    display: inline-block;
	    @include media ($tablet) {
	      padding-right: 1.5em;
	    }
	  }
	  &:last-child a {
	  	@include media ($tablet) {
    		padding-right: 1em;
    	}
    }
  }
}

/*
*	Body
*/
.page-content {
	.wrapper {
		@include outer-container;
		padding: 1em;
	}
	/*
	*	index.html
	*/
	.post-author {
		font-size: 0.9em;
		margin: 0 0 1rem;
	}
	.post-list {
		padding-top: 1em !important;
		@extend %default-ul;
	}
	.post-meta {
		@include outer-container;
		// padding: 1em 0;
		color: $medium-gray;
		.post-date {
			@include span-columns(6);
			text-align: left;
			font-size: 0.9em;
		}
		.post-categories {
			@include span-columns(6);
			margin-right: 0;
			text-align: right;
			font-size: 0.9em;
			a.tag {
		    display: inline-block;
		    margin: 0 5px 5px 0;
		    padding: 0 10px;
		    border: 1px solid #e6e6e6;
		    border-radius: 4px;
		    vertical-align: middle;
		    background-color: #fafafa;
		    color: #1e1e1e;
		    font-size: 13px;
		    line-height: 24px; /* 24px = 26(height) - 2(border) */
			}
			a.tag:hover {
	    	background-color: #e6e6e6;
			}
		}
	}
	.pagination {
		padding-top: 2em;
		text-align: center;
		color: $medium-gray;
		li.active, li:hover {
    background-color: #e6e6e6;
    border-radius: 4px;
		}
		li {
			list-style: none;
	    display: inline-block;
	    height: 20px;
	    width: 20px;
	    color: #1e1e1e;
	    font-size: 14px;
	    line-height: 18px;
	    vertical-align: middle;
		}
		li + li {
    margin-left: 10px;
		}
    a.newer-posts {
      text-decoration: none;
    }
	}
	.site-header-container {
		color: $white;
		text-shadow: 0 2px 1px rgba(0,0,0,0.33);
		background-color: $highlight-color;
		.site-header{
			.title {
				font-size: modular-scale(5);
			}
			.subtitle {
				font-size: modular-scale(1);
			}
		}
	}
	img {
		display: block;
		margin: auto;
		width: 90%;
	}
	/*
	*	Posts
	*/
	.post {
		ul {
			margin-bottom: 1em;
		}
		.post-header-container {
			.scrim {
				padding: 2em 1em 1em 1em;
			}
		}
		.post-meta {
			padding-bottom: 1em;
			.post-categories {
				float: right;
				.tags {
					font-size: 0.9em;
					a.tag {
				    display: inline-block;
				    margin: 0 5px 5px 0;
				    padding: 0 10px;
				    border: 1px solid #e6e6e6;
				    border-radius: 4px;
				    vertical-align: middle;
				    background-color: #fafafa;
				    color: #1e1e1e;
				    font-size: 13px;
				    line-height: 24px; /* 24px = 26(height) - 2(border) */
					}
					a.tag:hover {
			    	background-color: #e6e6e6;
					}
				}
			}
		}
		.post-content {
			padding: 1em 0;
		}
		.share {
			font-weight: bold;
			margin: 0 0 1em 0;
			@include span-columns(12);
			@include media ($tablet) {
				@include span-columns(12);
				margin: 1em 0;
				text-align: right;
			}
			a {
				width: 1em;
				padding: 0 0.25em;
				text-decoration: none;
			}
		}
		.disqus {
			@include span-columns(12);
		}
		.post-navigation {
			font-size: 0.9em;
			display: block;
			width: auto;
			.prev-post {
				display: block;
				width: 50%;
				float: left;
				margin: 1em 0;
			}
			.next-post {
				display: block;
				width: 50%;
				float: left;
				margin: 1em 0;
				text-align: right;
			}
		}
		.post-author-divider {
			border-bottom: 1px solid $light-gray;
			margin: 10 0;
		}
		.post-footer {
	    position: relative;
	    height: 120px;
	    margin: 0 50px;
		}
		.author-image {
	    position: absolute;
	    top: 30px;
	    left: 0;
	    width: 60px;
	    height: 60px;
	    border-radius: 100%;
	    background-size: cover;
		}
		.author-name {
	    position: absolute;
	    top: 44px; /* 120 = a + (14 + 6 + 12) + a, a = (120 - (14 + 6 + 12)) / 2, a = 44px */
	    left: 75px; /* 75px = 60(#author-image width) + 15(spacing) */
	    margin: 0;
	    font-size: 14px;
		}
		.post-date {
	    position: absolute;
	    top: 64px; /* 64px = 44(#author-name top) + 14(#author-name height) + 6(spacing) */
	    left: 75px; /* 75px = (#author-name left) */
	    margin: 0;
	    font-size: 12px;
		}
	}
	/*
	*	Pages
	*/
	.page {
		.post-header {
			padding: 0.5em 1em 1em 1em;
			text-align: center;
		}
		.posts-list {
			@extend %default-ul;
			li {
				padding: modular-scale(-4);
				padding-left: 0;
			}
			.desc {
				font-size: 0.9em;
			}
			.post-date {
				color: $medium-gray;
			}
		}
		.profile {
			max-width: 320px;
			margin: auto;
			padding-bottom: 0.5em;
 		}
	}
}

/*
*	Footer
*/
.site-footer {
	$link-color: $white;
	padding: 20px 30px;
	background-color: $highlight-color;
	color: $white;
	width: 100%;
	.links {
	    float: right;
	    text-align: right;
	}
	.footer-menu, .copyright {
	    text-align: left;
			font-size: 13px;
	}

	.footer-menu > *, .links > *, .copyright > * {
	    list-style: none;
	    display: inline;
	}

	.footer-menu > li, .copyright {
	    padding-left: 0;
	    padding-right: 10px;
	}

	.footer-menu > li + li {
	    padding-left: 10px;
	    border-left: 1px solid #ccc;
	}

	.links > li > a {
	    display: inline-block;
	    width: 20px;
	    height: 20px;
	    margin-left: 10px;
	    background-repeat: no-repeat;
	    background-size: 20px 20px;
			font-size: 15px;
	}

	.copyright {
			margin-left: 27px;
	}
	a {
	  color: $link-color;
	  &:active,
	  &:focus,
	  &:hover {
	    color: darken($link-color, 10%);
	  }
	  &:active,
	  &:focus {
	    outline: none;
	  }
	}
	.wrapper {
		@include outer-container;
	}
	.footer-heading {

	}

}
